<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="./index.css">
    
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="./index.js"></script>
</head>
<body>
    <h1>英雄列表</h1>
    <button class="ui primary button">添加英雄</button>
</body>
</html>